$font: 'Roboto', sans-serif;
$fontSec: 'Open Sans', sans-serif;
$fcol: white;

@mixin windDirection {
    text-transform: uppercase;
    color: red;
    font-size: 1.4em;
    text-align: center;
    font-family: $fontSec;
    font-weight: bold;
    padding: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font;
}

.app{
    background-image: url(../images/../images/bgSmall.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    transition: 0.4s ease-out;
    
    main{
        min-height: 100vh;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.90));
        padding: 25px;
    }
}

.app.warm{
    background-image: url(../images/bgSmallNight.jpg);
}



.search-box{
    position: relative;
    width: 100%;
    margin: 0 0 50px;
    
    .search-bar{
        display: block;
        width: 100%;
        padding: 15px;
    
        appearance: none;
        background: none;
        border: none;
        outline: none;
    
        background-color: rgba(255,255,255, 0.5);
        box-shadow: 0px 3px rgba(0,0,0,0.2);
    
        font-size: 1.2em;
    
        transition: 0.4s ease;
    
        &:focus{
            background-color: rgba(255,255,255, 0.75);
        }
    }
    .shaka{
        position: absolute;
        top:0;
        right:0;
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
        opacity: 0.8;
    }
}


.location-box{
    .location{
        color: $fcol;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px rgba(50,50,70,0.5);
        text-transform: uppercase;
    }
    .date{
        color: $fcol;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
}

.weather-box{
text-align: center;

    .size-info{
    margin-top: 15px;
    font-size: 1em;
    color: orangered;
}
    .temp{
    position: relative;
    display: inline-block;
    margin: 5px auto;
    background-color: rgba(255,255,255,0.2);


    padding: 15px 25px;

    color: $fcol;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50,50,70,0.5);
    text-align: center;
    box-shadow: 3px 6px (0,0,0,0.2);
    }
    
    .direction-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    .wind{
        display: flex;
        justify-content: center;
        align-items: center;
        color: $fcol;
        font-size: 40px;
        font-weight: 300;
        border: 2px dashed red;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;

        .arrow{
            animation: arrow 5s linear infinite;
            padding: 10px;
            color:yellow;
            
        }
    }
}

.north,
.south{
   @include windDirection
}
}

@keyframes arrow {
    0%{transform: rotate(0deg);}

    25%{
        transform: rotate(-10deg);
    }
    50%{transform: rotate(10deg)}
    
    75%{
        transform: rotate(-10deg);
    }

    100%{transform: rotate(0deg)}
}