.search-box{
    position: relative;
    width: 100%;
    margin: 0 0 15px;
    
    .search-bar{
        display: block;
        width: 100%;
        padding: 15px;
    
        appearance: none;
        background: none;
        border: none;
        outline: none;
    
        background-color: rgba(255,255,255, 0.6);
        box-shadow: 0px 3px rgba(0,0,0,0.2);
    
        font-size: 1.2em;
    
        transition: 0.4s ease;
        
    
        &:focus{
            background-color: rgba(255,255,255, 0.75);
        }
    }
    .shaka{
        position: absolute;
        top:0;
        right:0;
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
        opacity: 0.8;

        animation: shaka 5s linear infinite both;
    }
    .main-btn__back{
        position: absolute;
        top:0%;
        left:-10%;
        // transform: translateY(-50%);
        border:none;
        background-color: transparent;
        font-size: 1.5em;
        color: #ff4500;
        margin: 5px 0 0 0;
        &:hover{
            color: rgba(255,69,0,0.5);
        }
    }
}