
.location-box{
    .location{
        color: $fcol;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px rgba(50,50,70,0.5);
        text-transform: uppercase;
    }
    .date{
        color: $fcol;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
}

.weather-box{
text-align: center;

    .size-info{
    margin: 15px 0 10px 0;
    font-size: 1.6em;
    color: orange;
    
    span{
    color: orangered;
    text-transform: uppercase;
    font-size: 1.1em;}
}
    .kite-size{
    position: relative;
    display: inline-block;
    margin:10px 0 5px 0;
    background-color: rgba(61, 47, 126, 0.2);
    

    padding: 20px 45px;

    color: $fcol;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50,50,70,0.2);
    text-align: center;
    box-shadow: 3px 6px (0,0,0,0.2);
    }

       
    .direction-box{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
    

        .wind-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            
            .temp{

                font-size: 30px;
                color: $fcol;
                font-weight: 300;
                            }
            
            .wind{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $fcol;
                font-size: 30px;
                font-weight: 300;
                border: 2px dashed red;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                text-align: center;}

            .arrow{
                animation: arrow 5s linear infinite;
                padding: 10px;
                color:yellow;
                font-size: 1.3em;
                             }

             .knots{
                font-size: 30px;
                color: $fcol;
                
            }
    }
    
    
            .north,
            .south
            {
            @include windDirection
        }
             .north{
        font-size: 2em;
        color: red;
        }
             .south{
        padding: 10px 40px;
        color: white;
        }

    }
    
}



